body{
    background: url("/projects.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h2{
    text-align: center;
}
img{
    margin: auto;
    display: block;
}
p,a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    list-style-type: none;
}
p{
    text-decoration:underline dotted;
    text-decoration-line: underline;
    padding: 8px;
}
a{
    padding: 10px;
    margin-left: 20px;
}
a:link{
    text-decoration: none;
    color:green;
    background-color: rgb(217, 219, 220);
}
a:hover{
    color:black;
    background-color:white;
    border-radius: 10px;
}