body{
    background: url("/skills2");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    text-align: center;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 38%;
    padding: 20px;
    font-size: 25px;
}
#skillset{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 10px;
    margin-left: 43%;
}